PORT=5000

# Admin Authentication Credentials
ADMIN_USERNAME=lesmana
ADMIN_PASSWORD=bebesayang2026

# Optional: Google Firebase Credentials
FIREBASE_PROJECT_ID=aniv-fde67
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@aniv-fde67.iam.gserviceaccount.com
FIREBASE_STORAGE_BUCKET=aniv-fde67.firebasestorage.app
